@import url('https://fonts.googleapis.com/css?family=Megrim|Source+Sans+Pro:200');

.main-container {
  width: 100%;
  height: 100vh;
}

.header-container {
  width: 100%;
  height: 100%;
  background: url('http://img3.themebin.com/1920x1080/google_abstract_hd.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Main Nav Styling */
nav {
  width: 100%;
}

nav h1 {
  width: 25%;
  padding: .5em .5em .5em 1em;
  vertical-align: middle;
  font-size: 2.5em;
  font-family: 'Megrim', cursive;
  display: inline-block;
  color: white;
}

nav ul {
  width: 70%;
  display: inline-block;
  text-align: right;
}

ul li {
  margin: 1em;
  padding: 0em 0em .5em 0em;
  display: inline-block;
}

li a {
  color: white;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Main Heading styling */
.hero-header-container {
  height: 100%;
}

.main-heading {
  font-family: 'Megrim', cursive;
  height: 2em;
  font-size: 5em;
  line-height: 5em;
  padding-left: .5em;
  color: white;
}

.main-heading-slogan {
  font-family: 'Source Sans Pro', sans-serif;
  height: 1em;
  font-size: 1.5em;
  line-height: 5em;
  padding-left: 1.9em;
  color: white;
}

/* About content styling */
.about-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.about-img-container {
  width: 30%;
  margin: 2.5% 2.5% 33% 2.5%;
  display: inline-block;
  vertical-align: middle;
}

.about-img-container img {
  border-radius: 40px;

}

.about-content-container {
  width: 60%;
  margin: 7.5% 2.5% 25% 2.5%;
  padding: 2.5%;
  display: inline-block;
}

.about-content-container h2 {
  font-family: 'Megrim', cursive;
  font-size: 2.5em;
  margin-bottom: .5em;
  color: #56A7F5;
}

.about-content-container p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.7em;
  margin: .5em 0 .5em 0;
}

/* Project section styling */
.project-container {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.project-container div {
  display: inline-block;
  margin: 0em 0em 0em 1.5em;
}

.project-container h2 {
  margin-left: .6em;
  font-family: 'Megrim', cursive;
  font-size: 2.5em;
  margin-bottom: .5em;
  color: #56A7F5;
}

.project-container h3 {
  text-align: center;
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Footer section styling */
.footer-container {
  width: 100%;
  height: 100%;
  text-align: center;
}
